# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Log files
*.log
logs/

# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle-specific files
.gradle/
build/

# Eclipse-specific files
.project
.classpath
.settings/
*.launch
.externalToolBuilders/

# IntelliJ IDEA-specific files
.idea/
*.iml
*.iws
*.ipr

# NetBeans-specific files
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/
nb-configuration.xml

# OS-specific files
.DS_Store
Thumbs.db
.vscode
.mvn
target
/src/main/resources/application.properties
